{% extends "index.html" %}
{% block body %}
    <body>
      <a class="navbar-brand" href="index"><img style="height: 13%;" src="static/images/SmartInvest.png" alt="Logo"></a>
      <section id="coupon-message" class="page-section bg-ligth">
        <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                      <h2 class="mt-0" > Dommage... </h2>
                        <hr class="divider mb-5" />
                          <p> Nous sommes désolée, nous n'avons pas de bien correspondant à vos critères. Vous pouvez revenir dans quelques semaine, notre bases est régulièrement mise à jour.</p>
                          <img style="height: 40%;" src="static/images/malheureux.png">
                          <p><a href="/connection">Retour à la page de connection</a></p>

                     </div>   
                   </div>
                 </div>
               </section>
    </body>
            
{% endblock %}
       
